/* My Universial styles for all pages */
a {
  background-color: midnightblue;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  width: 90%;
  align-self: center;
  transition: background-color 0.7s linear 0.1s;
}

a:hover {
  background-color: steelblue;
}

.settings {
  height: 0%;
  background-image: url("./icons/settings.png");
  background-repeat:no-repeat;
  background-size: contain;
  width: 0%;
  background-color: LightSteelBlue;
}

/* For page Layout */

body {
  cursor: default;
	background-color: gray; /* well you choose it, had it like this to see the toolbar more clearly */
  max-width: 100%; /* To make sure content does not go bigger then screen size */
  font-size: 200%;
}

#toolbar {
	background-color: white; /* Duuhh */
  display: flex; /* So you can use flex (justify-content) */
  justify-content: space-between; /* split into 3 sections */
  align-items: center; /* So the items are in the center vertically in the toolbar */
  height: 4rem; /* The height the toolbar takes */
  position: fixed; /* Does not scroll with page */
  width: 100%; /* So it takes the page-width */
  z-index: 1; /* To make it overflow the page content */
}

.vertical-split { /* This splits the childs vertically */
  display: flex;
  flex-direction: row;

}

.vs-left, .vs-right { /* these are the childs in a vertical split */
  margin: 4rem;
}

.horizontal-split { /* This splits the childs horizontally */
  display: flex;
  flex-direction: column;
  align-self: center;
}

.hs-top, .hs-bottom { /* these are the childs in a horizontal split */

}

.drop-down-selections { /* all items inside container are in a column */
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.drop-down-selections * { /* Select all childs of the parents */
  margin: 0rem;
}

#date {
  font-weight: bold;
}

#page {
  padding-top: 7rem;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

/* Login */
.login-container {
  background-color: lightblue;
  border-radius: 3rem;
  display: flex;
  width: 80%;
  height: 40%;
  align-self: center;
  justify-content: flex-start;
  flex-flow: column;
  align-items: center;
  border: 0.5rem solid steelblue;
}
.login-message, .login-username, .login-password {
  margin-top: 1rem;
}
.login-submit {
  margin-top: 4rem;
  margin-bottom: 3rem;
}
input {
  height: 2rem;
}
.login-error {
  font-size: 1rem;
  color: red;
}

/* Menu */
.menu {
  width: 80%;
  align-self: center;
  background-color: teal;
  border-radius: 2rem;
  display: flex;
  flex-flow: row;
}


/* Heimahjalp */
.page {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
}
.selection {
  display: flex;
  flex-flow: row;
  width: 80%;
}
.leftselect {
  flex-flow: column;
  display: flex;
  justify-content: space-between;
  align-items: left;
}

.rightselect {
  flex-flow: column;
  justify-content: space-between;
  align-items: right;
}
.week{
  display: flex;
  justify-content: space-around;
}
.browse {

}
.mealtoday {
  justify-content: flex-start;
  height: 40%;
}
.mealimg img {
  width: 4rem;
}
/*.dagskra {
  padding-top: 12rem;/* 4rem; /* To make the top of the page not go under the toolbar */
/*  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  font-size: 7rem;
  color: lightgray;
}
.arrow:hover {
  color: steelblue;
}
*/

@media(max-width: 755px) {
  p {
    font-size: 1rem;
  }
  a {
    display: flex;
    padding: 0.2rem;
    font-size: 1rem;
    margin: 0.1rem;
  }
  input {
    width: 90%;
  }
  .settings {
    height: 1.5rem;
    width: 1.5rem;
  }
  .menu {
    flex-flow: column;
    border-radius: 0.5rem;
  }
  .login-container {
    align-items: normal;
  }
  .login-submit {
    display: flex;
  }
  .login-message, .login-username, .login-password {
    margin-left: 1rem;
  }
  .vs-left, .vs-right{ /* this it the left child in a vertical split */
    margin: 0.1rem;
  }

}